# Terraform state files
*.tfstate
*.tfstate.*
.terraform.lock.hcl
plantf

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as passwords, private keys, and other secrets.
*.tfvars

# Ignore override files as they are usually used to override resources locally and should not be committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include .terraform directory to ignore Terraform's working directory
.terraform/

# Ignore any .terraformrc and terraform.rc files
.terraformrc
terraform.rc

# Ignore backup files created by Terraform
*.backup

# Ignore any plan files
*.tfplan

# Ignore any files related to the private subnets
private_subnets

# Ignore any other temporary files
*.log
*.bak
*.tmp

# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle
build/

# Gradle Wrapper
!gradle-wrapper.jar
!gradle-wrapper.properties
!gradlew
!gradlew.bat

# Eclipse
.metadata
.classpath
.project
.settings/
bin/
tmp/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Spring Boot
spring.log

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# Code coverage
.jacoco/
*.exec

# SonarQube
.sonar/
report-task.txt

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
*~.nib
*.orig
*.rej
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Environment variable files
.env
.env.*

# Ignore all test reports
/test-output/